/* 공통 */
body {
  font-family: "Pretendard",
               -apple-system,
               BlinkMacSystemFont,
               "Apple SD Gothic Neo",
               "Noto Sans KR",
               sans-serif;
}

// 검색 아이콘
.masthead .search__toggle {
  color: #FFF; //$text-color;
}

.masthead .search__toggle:hover {
  color: #000; //$text-point-color;
}

// 햄버거 메뉴 색상
.navicon {
  background-color: #000; //$text-color;
  &::before,
  &::after {
    background-color: #000; //$text-color; 2F3E3E
  }
}

.navicon:hover {
  background-color: #FFF; //$text-point-color;
  &::before,
  &::after {
    background-color: #FFF; //$text-point-color;
  }
}


/* PC */
@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  // 제목
  .page__title {}
  .archive__item-title.no_toc > a {
    text-decoration: none;
  }
  
  // 내용
  .page__content {
    h1 { font-size: 1.8rem; }
    h2 { font-size: 1.6rem; }
    h3 { font-size: 1.4rem; }
    h4 { font-size: 1.2rem; }
    p,
    li {
      font-size: 1rem;
      line-height: 1.75;
    }
  }
}


/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
}


/* Mobile */
@media (max-width: 767px) {
}
