/* ==========================================================================
   Leaves skin made by saya
   ========================================================================== */

/* Colors */
$main-color : #8FAF9F !default;
$main-light-color : #C7D7CE !default;
$background-color: #F6F1EB !default;
$background-sub-color: #EEE6DC !default;
$text-color : #2F3E3E !default;
$text-point-color : #5C6F68 !default;

$border-color: mix(#fff, #557759, 75%) !default;
$footer-background-color: $main-color !default;
$link-color: #3a753a !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-point-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

# 검색 아이콘
.search__toggle {
  color: $text-color !default;
}

.search__toggle:hover {
  color: $text-point-color !default;
}

# 햄버거 메뉴 색상
.navicon {
  background-color: $text-color !default;
  &::before,
  &::after {
    background-color: $text-color !default;
  }
}

.navicon:hover {
  background-color: $text-point-color !default;
  &::before,
  &::after {
    background-color: $text-point-color !default;
  }
}

# footer
.page__footer {
  background-color: $main-color !important;
  color: $main-light-color !important;
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}


